@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer base {
  h1 {
    @apply text-3xl font-bold mb-12;
  }

  h2 {
    @apply text-2xl font-bold mb-8;
  }

  h3 {
    @apply text-xl font-bold mb-4;
  }

  h4 {
    @apply text-lg font-bold mb-2;
  }
}

@layer components {
  .projCardParent:hover .albumCover {
    @apply w-40;
  }

  .internalLink {
    @apply p-2 text-center rounded-lg border border-white
        hover:bg-slate-500 hover:bg-opacity-50
         active:text-slate-800;
  }

  .navlink {
    @apply p-4 text-lg text-gray-700 
          dark:text-white 
          hover:text-gray-500/75;
  }

  .navlink-sub {
    @apply m-2 text-sm text-right text-gray-700
          dark:text-white 
          hover:text-gray-500/75;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
