@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer base {
  h1 {
    @apply text-3xl font-bold mb-12;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .projCardParent:hover .albumCover {
    @apply h-auto w-40 
          lg:h-auto lg:w-44
          xl:h-auto xl:w-48;
  }

  .card {
    @apply px-6 py-4 rounded-lg shadow-2xl
          bg-opacity-90 dark:bg-opacity-80
        bg-slate-200 dark:bg-slate-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
