@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer base {
  h1 {
    @apply text-3xl font-bold mb-12;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .projCardParent:hover .albumCover {
    @apply w-40;
  }

  .card {
    @apply px-6 py-4 m-4 rounded-lg shadow-2xl
          border-2 border-slate-800
          bg-opacity-80 dark:bg-opacity-80
        bg-slate-300 dark:bg-slate-700;
  }

  .landingCard-row {
    @apply flex flex-col justify-evenly lg:flex-row;
  }

  .hyperlink {
    @apply underline text-blue-500 hover:text-blue-700 visited:text-purple-600;
  }

  .internalLink {
    @apply p-2 text-center rounded-lg 
        hover:bg-slate-500 hover:bg-opacity-50
         active:text-slate-800;
  }

  .activeProjectLink {
    @apply border border-white
          bg-slate-500 bg-opacity-50;
  }

  .navlink {
    @apply p-4 text-lg text-gray-700 
          dark:text-white 
          hover:text-gray-500/75;
  }

  .navlink-sub {
    @apply m-2 text-sm text-right text-gray-700
          dark:text-white 
          hover:text-gray-500/75;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
